* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color-scheme: dark;
    background-color: #18181b;
    color: #f5f5f4;
    font-family: sans-serif;

    & header {
        background-color: #34d399;
        padding: 1rem;

        > h1 {
            text-align: center;

            color: #18181b;
        }
    }


    & main {
        padding: 2rem;

        & form {
            text-align: center;
            margin: 1rem;

            & input {
                padding: 0.5rem;
            }

            & button {
                margin-top: 1rem;
                padding: 0.5rem 1rem;
                background-color: #34d399;
                border-radius: 0.5rem;
                color: #18181b;
            }
        }


        & #book-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            & >* {
                flex: 1;
            }

            & .book {
                background-color: #e2e8f0;
                padding: 2rem;
                border-radius: 1rem;
                color: #18181b;
                

                & h1 {
                    margin-bottom: 0.2rem;
                    font-size: 1.5rem;
                }

                & >span {
                    display: block;
                    text-align: right;
                    font-size: 0.85rem;
                }

                & >div {
                    input[type="checkbox"] {
                        accent-color: #34d399;
                        border-radius: 5rem;
                        margin-left: 1rem;
                    }

                    

                }
                & > a{
                    display: block;
                    margin-top: 1rem;
                    display: flex;
                    gap: 1rem;
                    cursor: pointer;
                    & img {
                        display: inline-block;
                        width: 2rem
                    }
                    & p{
                        display: inline-block;
                        font-size: 1.4rem;
                        color: #dc2626;
                    }
                }

            }
        }


    }



}